#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#main-wrapper {
    display: flex;
    min-height: 100vh;
}

.content-body {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 280px;
    height: 100vh;
    overflow-y: auto;
}

/* Color Palette */
.bg-admin-card,
.bg-employee-card,
.bg-leave-card {
    background-color: #1976d2;
}

.bg-admin-title,
.bg-employee-title,
.bg-leave-title {
    background-color: #1976d2;
    color: #ffffff;
}

.btn-admin,
.btn-employee {
    background-color: #2667ff;
    border: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.btn-admin:hover,
.btn-employee:hover {
    background-color: #3f8efc;
    color: #ffffff;
}

.bg-leadership-board {
    background-color: #f8f9fa;
    /* Light background for table */
}

.text-leadership-title {
    color: #000000;
    /* Dark Blue for leadership board title */
}

.bg-table-header {
    background-color: #35374B;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
    /* Subtle hover effect for table rows */
}

.card:not(.static-card) {
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.card:not(.static-card):hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.static-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: box-shadow 0.2s;
}

.static-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    /* No transform */
}